<div class="body">
    <div class="container" id="container-availableFlights">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>Vuelos de Ida</a>
                <ng-template ngbNavContent>
                    <div class="table-flights">
                        <h2>Lista de vuelos disponibles</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hora salida</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col">Tipo Ruta</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let flight of allDepartureFlights">
                                    <tr>
                                        <td>{{ flight[0] }}</td>
                                        <td>{{ flight[1] }}</td>
                                        <td>{{ flight[2] }}</td>
                                        <td>{{ flight[3] }}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-info" id="selectFlight"
                                                (click)="selectedRowDeparture(flight)">Seleccionar</button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Vuelos de Regreso</a>
                <ng-template ngbNavContent>
                    <div class="table-flights">
                        <h2>Lista de vuelos disponibles</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hora salida</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col">Tipo Ruta</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let flight of allReturnFlights">
                                    <tr>
                                        <td>{{ flight[0] }}</td>
                                        <td>{{ flight[1] }}</td>
                                        <td>{{ flight[2] }}</td>
                                        <td>{{ flight[3] }}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-info"
                                                (click)="selectedRowReturn(flight)">Seleccionar</button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="container" id="container-selected">
        <h2>Vuelos seleccionados</h2>
        <div class="row align-items-start">
            <div class="col-7">
                <div class="table-flights">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Hora salida</th>
                                <th scope="col">Duración</th>
                                <th scope="col">Tipo Ruta</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let flight of selectedFlights">
                                <tr>
                                    <td>{{ flight[0] }}</td>
                                    <td>{{ flight[1] }}</td>
                                    <td>{{ flight[2] }}</td>
                                    <td>{{ flight[3] }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container" id="container-payments">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="paymentTotal">Total a pagar</span>
                        <input type="text" class="form-control" value="$ {{ paymentTotal }}" aria-label="Total a pagar"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="departureTicket">Tiquete ida</span>
                        <input type="text" class="form-control" value="$ {{ paymentDepartureTicket }}"
                            aria-label="departureTicket" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="returnTicket">Tiquete regreso</span>
                        <input type="text" class="form-control" value="$ {{ paymentReturnTicket }}"
                            aria-label="returnTicket" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
        <app-info-pasajeros></app-info-pasajeros>
    </div>
</div>