.airplane-image {
    width: 40px;
    height: 42px;
    display: flex;
    border-radius: 50% 50%;
    background-color: aqua;
}

svg#airplane {
    margin-top: -1px;
}

label#text-label {
    text-decoration-line: underline;
}

#check-radios {
    margin-top: 10px;
    margin-bottom: 20px;
}

#help-message {
    font-size: 13px;
    opacity: 0.7;
}

#btnPassengers {
    margin-bottom: 17px;
}

#calendar-image {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

#btnSearch {
    margin-top: 23px;
}