<div class="reservation">
    <h2>Lista de reservas</h2>
    <div class="table-responsive">
        <table class="table" *ngIf="showReservations">
            <thead>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Ciudad Origen</th>
                    <th scope="col">Ciudad Destino</th>
                    <th scope="col">Fecha Ida</th>
                    <th scope="col">Ruta Ida</th>
                    <th scope="col">Fecha Regreso</th>
                    <th scope="col">Ruta Regreso</th>
                    <th scope="col">ID Pasajero</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Documento</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="departureReturnFlight == true; else reserveOW">
                    <ng-container *ngFor="let reserve of allReservationsRT">
                        <tr>
                            <td>{{ reserve.state }}</td>
                            <td>{{ reserve.nameCityOriginDeparture }}</td>
                            <td>{{ reserve.nameCityDestinationDeparture }}</td>
                            <td>{{ reserve.departureDate }}</td>
                            <td>{{ reserve.departureRouteType }}</td>
                            <td>{{ reserve.nameCityOriginReturn }}</td>
                            <td>{{ reserve.nameCityDestinationReturn }}</td>
                            <td>{{ reserve.returnDate }}</td>
                            <td>{{ reserve.returnRouteType }}</td>
                            <td>{{ reserve.passengerName }}</td>
                            <td>{{ reserve.passengerLastName }}</td>
                            <td>{{ reserve.documentName }}</td>
                        </tr>
                    </ng-container>
                </div>
                <ng-template #reserveOW>
                    <ng-container *ngFor="let reserve of allReservationsOW">
                        <tr>
                            <td>{{ reserve.state }}</td>
                            <td>{{ reserve.nameCityOriginDeparture }}</td>
                            <td>{{ reserve.nameCityDestinationDeparture }}</td>
                            <td>{{ reserve.departureDate }}</td>
                            <td>{{ reserve.departureRouteType }}</td>
                            <td>{{ reserve.passengerName }}</td>
                            <td>{{ reserve.passengerLastName }}</td>
                            <td>{{ reserve.documentName }}</td>
                        </tr>
                    </ng-container>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>