<div class="container-pasenger">
    <div class="container">
        <form [formGroup]="documentPassenger" (ngSubmit)="onSubmitDocumentPassenger()">
            <div class="form-group docPassenger">
                <label class="form-label">Documento/Cédula</label>
                <input type="text" name="formDocument" class="form-control" formControlName="formDocument" placeholder="Cédula" ngModel />
            </div>
            <div class="form-group">
                <input type="submit" value="Siguiente" class="btn btn-outline-secondary" (click)="getVisaRequired()"
                (click)="activatedBtn()">
            </div>
        </form>
    </div>
    <ng-template #infopassengers let-modal>
        <div class="modal-header">
            <h4>Información de pasajeros</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <h5>Ingresar información de pasajeros</h5>
            <div class="infPassenger">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Información de millas</label>
                        <textarea id="miles" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Millas" value="{{messageMiles}}"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.close()">Continuar</button>
        </div>
    </ng-template>
    <ng-template #infosavepassengers let-modal>
        <div class="modal-header">
            <h4>Información de pasajeros</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <h5>Ingresar información de pasajeros</h5>
            <div class="infPassenger">
                <form [formGroup]="passengerData" (ngSubmit)="onSubmitPassengerData()">
                    <div class="form-group">
                        <label class="form-label">Nombre</label>
                        <label id="asterisco">*</label>
                        <input type="text" name="formName" class="form-control" placeholder="Nombre" formControlName="formName" ngModel/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido</label>
                        <label id="asterisco">*</label>
                        <input type="text" name="formLastName" class="form-control" placeholder="Apellido" formControlName="formLastName" ngModel/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Edad</label>
                        <label id="asterisco">*</label>
                        <input type="text" name="formAge" class="form-control" placeholder="Edad" formControlName="formAge" ngModel/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico</label>
                        <label id="asterisco">*</label>
                        <input type="text" name="formEmail" class="form-control" placeholder="Correo electrónico" formControlName="formEmail" ngModel/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teléfono</label>
                        <label id="asterisco">*</label>
                        <input type="text" name="formPhone" class="form-control" placeholder="Teléfono" formControlName="formPhone" ngModel/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo Pasajero</label>
                        <label id="asterisco">*</label>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="formTypePassenger" aria-label="Default select example" formControlName="formTypePassenger">
                                <option selected>Seleccionar un tipo</option>
                                <option *ngFor="let type of allTypePassengers">
                                    {{type}}
                                </option>
                            </select>
                            <label for="floatingInput">Tipo pasajero</label>
                        </div>
                    </div>
                    <div class="active">
                        <div class="expirationVisa" *ngIf="expirationVisa">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Expiración de Visa</label>
                                <label id="asterisco">*</label>
                                <input type="date" name="formExpirationDate" [(ngModel)]="visaExpirationDate" class="form-control" formControlName="formExpirationDate"
                                    placeholder="Fecha de expiración de Visa">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="modal-footer">
                            <input type="submit" value="Continuar" class="btn btn-success" (click)="modal.close()" (click)="savePassenger()">
                            <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
</div>
<div class="container" id="container-payment">
    <div class="row align-items-start">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="discountTicket">Total a pagar</span>
                <input type="text" class="form-control" id="total-pagar" value="$ {{ discountTotalTicket }}" aria-label="Total a pagar"
                    aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-md-4">
            <button type="button" class="btn btn-success" id="btnConfirm" (click)="showReservationInfo()">Confirmar
                reserva</button>
        </div>
        <div class="col-6 col-sm-3">
            <label class="form-label">Número de reserva</label>
            <input type="text" class="form-control" value="{{ reservationNumber }}">
        </div>
    </div>
</div>
<app-info-reservas></app-info-reservas>